<!DOCTYPE html>
<html>
    <body>
        <div class="Form-Container">
            <label for="productID">Enter Product ID</label>
            <input type="number">
            <label for="productName">Enter Product Name</label>
            <input type="text">
            <label for="productPrice">Enter Product Price</label>
            <input type="text">
            <label for="productType">Enter Product Type</label>
            <input type="text">
            <button type="submit">Submit</button>
        </div>
    </body>
</html>
